@page "/toasts"
@inject Servicios.IToastrService toastrServicios
<PageTitle>Inicio</PageTitle>
<h1>¡Mensajes Toastr!</h1>
<button class="btn btn-success" @onclick="MuestraExito">Mostrar Éxito</button>
<button class="btn btn-danger" @onclick="MuestraError">Mostrar Error</button>
<button class="btn btn-warning" @onclick="MuestraAdvertencia">Mostrar advertencia</button>
<button class="btn btn-info" @onclick="MuestraInformacion">Mostrar informacion</button>
@code {
    private async Task MuestraExito()
    {
        await toastrServicios.MsgExito("¡La operación se completó con éxito!");
    }
    private async Task MuestraError()
    {
        await toastrServicios.MsgError("Ha ocurrido un error inesperado.");
    }
    private async Task MuestraAdvertencia()
    {
        await toastrServicios.MsgAdvertencia("Cuidado! algo no está del todo bien.");
    }
    private async Task MuestraInformacion()
    {
        await toastrServicios.MsgInformacion("Esto es solo información.");
    }
}